* {
    margin: 0;
    padding: 0;
}


main, header, footer {
    max-width: 100vw;
}

main {
    background-color: #4d47ff1f;
}
/* Custom Fonts */


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Styles */

.btn-primary {
    max-height: 132px;
    padding: 12px 36px;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight:500;
    border: none;
    border-radius: 8px;
}

.btn-primary:hover {
   background-color: white;
   color: #4E47FF;
   cursor: pointer;
}

/* Header - Banner & Navigation Styles */

header {
    margin: 0 auto;
    max-width: 1440px;
    height: 698px;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


nav ul {
    display: flex;
    max-width: 1140px;
    height: 151px;
    margin: 0 auto;
    justify-content: space-between;
}

nav li {
    margin-top: 50px;
}

nav li, nav a {
    list-style: none;
    text-decoration: none;
}

.site-logo {
    color: #4E47FF;
    font-size: 34px;
    font-weight: 900;
}

.banner-container {
    text-align: center;
    max-width: 905px;
    height: 237px;
    margin: 158px auto;
}

.banner-title {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 37px;
}

/* Action Section Styles */

.action-section {
    display: flex;
    margin: 0px auto;
    max-width: 1140px;
    min-height: 500px;
    justify-content: space-between;
    align-items: center;
    
}

.action-left p {
    margin-bottom: 23px;
}

.action-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.action-desc {
    font-size: 24px;
    color: #25243269;
}

.action-section img {
    border-radius: 48px;
}

/* Productive User Section Styles */

.user-section {
    max-width: 1140px;
    margin: 0 auto;
    background-color: rgba(78, 71, 255, 0.1);
    text-align: center;
    border-radius: 24px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.centered-title {
    font-size: 38px;
    font-weight: bold;
}

.data-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.data {
    font-size: 80px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);
}

.data span {
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    display: block;
}

/* Feedback Section Styles */

.feedback-section {
    max-width: 1140px;
    margin: 137px auto;
    text-align: center;

}

.feedback-section-title {
    font-size: 42px;
    font-weight: bold;
}

.feedback-container {
    margin-top: 50px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.feedback-box {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5);
    width: 366px;
    padding: 25px;
    border-radius: 24px;
    
}

.feedback-star {
    margin-bottom: 24px;
}

.feedback-title {
    color: rgba(30, 30, 30, 1);
    font-size: 20px;
    font-weight:600;
    margin-bottom: 8px;
}

.feedback-desc {
    margin-bottom: 24px;
}

.feedback-avatar {
    border-radius: 50%;
}

.user-avatar-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user-details {
    color: rgba(117, 117, 117, 1);
}

.user-details span {
    display: block;
    color: rgba(179, 179, 179, 1);
    font-size: 14px;
}

/* Get Started Free Section Styles */

.free-trial-section {
    max-width: 1140px;
    background-color: #FFFFFF;
    margin: 0 auto;
    border-radius: 14px;
    text-align: center;
    padding-top: 71px;
    padding-bottom: 71px;
}

.free-trial-section button {
    display: block;
    margin: 20px auto;
}

.free-trial-title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.free-trial-subtitle {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
}

.free-trial-section img {
    border-radius: 48px;
}

/* Let's Get in Touch Section Styles */

.form-section {
    max-width: 1140px;
    min-height: 632px;
    margin: 92px auto;
    display: flex;
    align-items: center;
    gap: 120px;
}

label {
    display: block;
    margin-top: 15px;
}

form button {
    display: block;
}

.form-title {
    font-size: 97px;
    font-weight: bold;
}

form {
    width: 497px;
    height: 490px;
}

form input {
    width: 98%;
    margin-top: 8px;
    border: 1px solid rgba(128, 128, 128, 0.315);
    border-radius: 10px;
    padding-left: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
}

form textarea {
    width: 98%;
    height: 30%;
    margin-top: 8px;
    border: 1px solid rgba(128, 128, 128, 0.315);
    border-radius: 10px;
    padding-left: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
}

form button {
    width: 517px;
    margin-top: 10px;
}

/* Footer Section Styles */

.footer-container {

    max-width: 531px;
    min-height: 221px;
    margin: 104px auto;
    text-align: center;

}

.footer-container .site-logo {
    font-size: 100px;
    font-weight: 900;
    margin-bottom: 8px;
}

.footer-paragraph {
    color: rgba(137, 135, 161, 1);
}

.link-container ul{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.link-container li {
    list-style: none;
}

.link-container a {
    text-decoration: none;
    color: #8987A1;
}
