* {
    margin: 0;
    padding: 0;
}


main, header, footer {
    max-width: 1440px;
}

/* Custom Fonts */


.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Styles */

.btn-primary {
    max-height: 132px;
    padding: 12px 36px;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
}

.btn-primary:hover {
   background-color: white;
   color: #4E47FF;
   cursor: pointer;
}

/* Header - Banner & Navigation Styles */

header {
    margin: 0 auto;
    height: 698px;
    background-image: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


nav ul {
    display: flex;
    max-width: 1140px;
    height: 151px;
    margin: 0 auto;
    justify-content: space-between;
}

nav li {
    margin-top: 50px;
}

nav li, nav a {
    list-style: none;
    text-decoration: none;
}

.site-logo {
    color: #4E47FF;
    font-size: 34px;
    font-weight: 900;
}

.banner-container {
    text-align: center;
    max-width: 905px;
    height: 237px;
    margin: 158px auto;
}

.banner-title {
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 37px;
}

/* Action Section Styles */

.action-section {
    display: flex;
    margin: 116px auto;
    max-width: 1140px;
    justify-content: space-between;
    align-items: center;
    
}

.action-left p {
    margin-bottom: 23px;
}

.action-title {
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}

.action-desc {
    font-size: 24px;
    color: #25243269;
}

.action-section img {
    border-radius: 48px;
}